

.textBox>div{
    border: 5px solid turquoise;
    /* border-radius: 10px; */
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}
